/* Move down content because we have a fixed navbar that is 50px tall */
body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
    font-family: Arial, sans-serif;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    /*max-width: 280px;*/
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {


    .body-content {
        padding: 0;
    }
}
/****************************/
#stickyHeader {
    position:  fixed;
    top:0;
    left:0;
    width: 100%;
    height: 110px;
    display: none;
    background-color: hsla(205,60%,10%,0.9);
    z-index:1000;
}
#stickyHeader img {
        width: 100px;
        height: auto;
    }
#stickyHeader a {
        color: white;
        transition: all 0.3s ease;
    }
    #stickyHeader a:hover {
        color: hsla(205,60%,10%,1);
    }
#intro {
    color: white;
    background-color: hsla(0,0%,0%,0.5);
    border-radius: 5pt;
    box-shadow: 0 0 5pt hsla(0,0%,100%,1);
    font-size: 16pt;
    padding: 5pt;
    margin-bottom: 10pt;
}

    /****************************/
    .navbar-toggle {
        background-color: hsla(0,0%,0%,0.7);
    }
    .navbar-toggle span {
        background-color: hsla(0,0%,100%,0.7);
    }
    
 .subBtns {
        background-color: hsla(202,50%,30%,1) !important;
        border: 1px solid hsla(202,50%,20%,1);
        border-radius: 0%;
        transition: all 0.3s ease;
        color: #fff;
        font-size: 3vw;
    }

    .subBtns:hover {
        background-color: hsla(33,50%,50%,1) !important;
    }
header {
    background-color: hsla(0,0%,50%,1);
    background-image: url("../images/band.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 600px;
    color: hsla(0,0%,100%,1);
    padding-top: 20pt;
    text-align: center;
}
header h2 {
    font-size: 5vw;
}
header a {
        color: hsla(0,0%,100%,1);
    }
header img {
    width: 150px;
    height: auto;
    float: left;
}

header .actions span {
    font-size: 2vw;
    width: 50px;
    padding: 10pt;
    background-color: hsla(202,50%,90%,1);
    border-radius: 5%;
    color: black;
    cursor: pointer;
}

.actionHd {
    font-size: 2.9vw;
    padding: 20pt;
}

.classMenu {
    display: none;
}

.initForm {
    display: none;
    width: 100%;
    border: 2pt solid hsla(0,0%,50%,1);
    border-radius: 5pt;
    margin: 40pt auto;
    padding: 20pt;
}
header .actions span:hover {
    background-color: hsla(202,50%,100%,1);
}
header .subMenu {
    background-color: hsla(203,80%,20%,0.8);
    width: 320px;
    position: relative;
    margin: 0 auto;
    border-radius: 5pt;
}    
header .subMenu a {
    color: white;
    transition: all 0.3s ease;
}

    header .subMenu a:hover, header .subMenu a:active {
        text-shadow: 0 0 3pt hsla(0,0%,0%,1);
    }

    header .subMenu a:visited {
        text-shadow:  none;
    }






.mySections {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        padding-top: 20pt;
        
    }
#about {
    color: black;
    background-color: white;

}
#about p:nth-of-type(1) {
        font-size: 3vw;
        text-align: center;
        font-weight: bold;
    }
#about p:nth-of-type(2) {
        font-size: 1.5vw;
        text-align: center;
        color: hsla(0,0%,30%,1);
    }

#mainForms h1 {
    margin-top: 0pt;
    background: linear-gradient(15deg,hsla(202,100%,50%,0.09),hsla(0,0%,0%,0.5) );
    padding: 5pt 5pt 10pt 5pt;
    border-radius:  5% ;
}

#mainForms select {

}

#mainForms input,
#mainForms textarea {
    width: 100%;
    padding: 4pt;
    margin: 4pt 4pt 4pt 0;
    background-color: hsla(202,30%,95%,1);
}
#mainForms span {
    white-space: nowrap;
    /*width: 45%;*/
}
.sliderBlock span {
    display: inline-block;
}
.slider0  {
    width: 30%;

}

.slider1 {  /* this is the actual slider*/
    width: 50%;
    vertical-align: bottom;
    margin: 0 5px 0 0;
    padding: 10px 0 0;
}
.slider2 {
    width: 100%;
    margin-bottom: 0px !important;
    padding: 0px !important;

}

.slider3 {
    width: 15%;

    text-align: right;
    border: 1px solid grey;
    background-color: hsla(0,0%,80%,1);
    border-radius: 8%;
}
#section2 {
    display: none;
}
#submissions {
    height: 230px;
    overflow-y:scroll;
}
#submissions div span {
    width: 23%;
    display: inline-block;
    padding: 1pt;
    overflow-x:hidden;
}

    #submissions div span:nth-of-type(1) {
        text-align: left;
    }
    
    
    
    #submissions div span:nth-of-type(2), #submissions div span:nth-of-type(3) {
        text-align: center;
    }

#submissions div span:nth-of-type(4) {
        text-align: right;
    }

#submissions div div {    background-color: hsla(205,80%,20%,0.8);
    color: white;
    cursor: pointer;
    border-bottom: 1px solid hsla(0,0%,60%,1);
    transition: all 0.3s ease;
}
#submissions div div:nth-of-type(1) {
        border-top: 1px solid hsla(0,0%,60%,1);
    }

    #submissions div div:hover {
        background-color: hsla(205,0%,100%,1);
        color: black;
    }

#submissionsList {
    max-width: 800px;
    margin:0 auto;
    width: 100%;
}

#searchArtistMenu {
    width:100%;
}

.artistDetail, .eventDetail {
    color: hsla(205,80%,50%,1);
    transition: all 0.3s all;
    cursor: pointer;
}
    .artistDetail:hover, .eventDetail:hover {
        color: hsla(205,50%,30%,1);
        text-shadow: 0 0 5pt hsla(0,0%,100%,1);
        text-decoration: underline;
    }
.SearchBtn {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    transition: all 0.3s ease;
    color: white;
    background-color: hsla(205,50%,30%,1);
    font-size: 150%;
    text-align: center;
    margin: 2pt 0 ;
}
.artistSearchBtn:hover, .aeventSearchBtn:hover {
    background-color: hsla(33,30%,40%,1);
}

#searchArtistData, #searchEventData {
    width: 100%;
}

    #searchArtistData span, #searchEventData span {
        display: inline-block;
        text-align: left;
        font-size: 90%;
        overflow-x: hidden;
    }

        #searchArtistData span:nth-of-type(1), #searchArtistData span:nth-of-type(2),
        #searchEventData span:nth-of-type(1), #searchEventData span:nth-of-type(2),
        #searchEventData span:nth-of-type(3), #searchEventData span:nth-of-type(4) {
            width: 20%;
        }
    #searchArtistData span:nth-of-type(3) {
        width: 25%;
    }
    #searchArtistData span:nth-of-type(4) {
        width: 25%;
    }

#searchEventData span:nth-of-type(5), #searchEventData span:nth-of-type(6) {
    width:9%;
}
        
        
 #searchArtistData span:nth-of-type(5) {
            text-align: right;
            width: 8%;
        }

#SearchArtistDetail div,
#SearchEventDetail div {
    border-bottom: 1px solid hsla(0,0%,60%,1);
}

    #SearchArtistDetail div:nth-child(even),
    #SearchEventDetail div:nth-child(even) {
        background-color: hsla(205,50%,90%,1);
    }
    #SearchArtistDetail div:nth-child(odd),
    #SearchEventDetail div:nth-child(odd) {
        background-color: hsla(205,60%,80%,1);
    }
    #SearchArtistDetail div:nth-of-type(1),
    #SearchEventDetail div:nth-of-type(1) {
        border-top: 1px solid hsla(0,0%,60%,1);
    }

/*****************************************/
/*** CONTACT PAGE ************************/

.contactBG {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
}

.contactContent {
    margin-top: 70pt;
    margin-bottom: 50pt;
    min-height: 700px;
}

    .contactContent cite {
        vertical-align: bottom;
        font-weight: bold;
        font-style: italic;
        position: relative;
        top: 30pt;
        font-size: 20pt;
    }

    .contactContent h3 {
        width: 100%;
        text-align: center;
        background-color: hsla(25,90%,50%,1);
        padding: 10pt;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 200%;
        border-radius: 30% 30% 0 0;
        max-width: 360px;
        width: 100%;
        margin: 20pt auto 0;
    }

    .contactContent .col-md-4 {
        text-align: center;
    }

    .contactContent .info {
        max-height: 300px;
        max-width: 360px;
        min-height: 300px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        /*vertical-align: middle;*/
        border: 25pt solid hsla(205,60%,30%,1);
        border-radius: 0 0 50% 50%;
        background: linear-gradient(-180deg,hsla(205,50%,90%,1),hsla(205,50%,80%,1) )
    }

        .contactContent .info p {
            margin-top: 30%;
            position: relative;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            font-size: 14pt;
            text-align: center;
            /*border: 1px solid black;*/
        }


            .contactContent .info p a {
                width: auto;
                color: #000;
            }

        .contactContent .info .imgDiv {
            position: relative;
            width: 200px;
            /*border: 1px solid;*/
            margin: 20% auto;
        }

            .contactContent .info .imgDiv img {
                width: 50pt;
                height: auto;
                display: inline;
                cursor: pointer;
                /*margin: 0 auto;*/
            }


/*** CONTACT PAGE ************************/
/***** END END END ****************************/

@media screen and (max-width: 800px) {
    .subBtns {
        font-size: 20pt;
    }
    header .actions span {
        font-size: 16pt !important;
        white-space:nowrap;
        padding: 2pt;
    }

 .actionHd {
        font-size: 20pt !important;
    }
 #about p:nth-of-type(2) {
     font-size: 100%;
 }
}

